@media (max-width: 991px) {
  .hide_nav,
  .show_nav {
    position: fixed;
    width: 100%;
    top: 0;
    transition: linear 700ms;
    min-height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1 !important;
  }
  .left_0 {
    left: 0;
  }
  .left_100 {
    left: -100%;
  }
  .show_nav > div,
  .hide_nav > div {
    flex-direction: column;
  }
  .crossicon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
